<ul class=list>
  <% recruit.recruit_comments.each do |comment| %>
    <% recruit_comment_user = comment.user %>
    <li class="item">
      <%= link_to profile_user_path(recruit_comment_user), class: "user_#{recruit_comment_user.id} profile_img" do %>
      	<%= attachment_image_tag recruit_comment_user, :icon_image, :fill, 50, 50, fallback: "no-icon.png", size: "50x50", class: "face_icon"  %>
    	<% end %>
      <div class="comment_area">
        <div class="comment_user_profile">
        	<%= link_to profile_user_path(recruit_comment_user), class: "user_#{recruit_comment_user.id} profile_area" do %>
        	  <%= recruit_comment_user.nickname %>
        	<% end %>
        	<small><%= comment.created_at.strftime("%Y/%m/%d") %></small>
        </div>
        <p><%= comment.comment %></p>
      </div>
    	<% if current_user == recruit_comment_user %>
      	<%= link_to recruit_recruit_comment_path(recruit, comment), method: :delete, remote: true, class: "comment_delete_btn" do %>
      	  <i class="fas fa-trash-alt"></i>
      	<% end %>
      <% end %>
    </li>
  <% end %>
</ul>