<li class="item item_<%= recruit_comment.id %>">
  <%= link_to profile_user_path(recruit_comment.user), class: "user_#{recruit_comment.user.id} profile_img" do %>
  	<%= attachment_image_tag recruit_comment.user, :icon_image, fallback: "/images/no-icon.png",  class: "face_icon icon_md"  %>
	<% end %>
  <div class="comment_area">
    <div class="comment_area__head">
      <div class="comment_user_profile">
      	<%= link_to profile_user_path(recruit_comment.user), class: "user_#{recruit_comment.user.id} profile_area" do %>
      	  <%= recruit_comment.user.nickname %>
      	<% end %>
      	<small><%= recruit_comment.created_at.strftime("%Y/%m/%d") %></small>
      </div>
      <% if current_user == recruit_comment.user %>
        <div class="ellipsis_v" >
          <i class="fas fa-ellipsis-v ellipsis_v__icon"></i>
          <div class="option_modal">
          	<%= link_to recruit_recruit_comment_path(recruit, recruit_comment), method: :delete, remote: true, class: "btn__recruit_delete" do %>
          	  <i class="fas fa-trash-alt"></i>
          	  <span>削除する</span>
          	<% end %>
          </div>
        </div>
      <% end %>
    </div>
    <p><%= recruit_comment.comment %></p>
  </div>
</li>