<div id="wrapper">
  <div class="head_link">
    <span class="head_link__inner">
      <%= link_to home_path, class: "btn btn__back" do %>
        <i class="fas fa-arrow-left"></i>
      <% end %>
      <%= render 'form', value: @content %>
    </span>
  </div>
  <ul class="tab">
    <li class="tab__item">
      <%= link_to search_user_path(:content => @content), local: true, class: "tab__link" do %>
        アカウント
      <% end %>
    </li>
    <li class="tab__item">
      <%= link_to search_recruit_path(:content => @content), local: true, class: "tab__link" do %>
        募集
      <% end %>
    </li>
  </ul>
  <div class="area area__recruit_list">
    <div class="user_recruit_list">
      <%= render 'user/recruits/list', recruits: @recruits %>
    </div>
  </div>
</div>