<li class="item_<%= message.id %>">
  <% if message.content.include?("a href=https://discord") %>
    <% content = message.content.html_safe %>
  <% else %>
    <% content = message.content %>
  <% end %>
  <% if message.user_id == current_user.id %>
    <% user = "current_user"%>
  <% else %>
    <% user = "other_user"%>
  <% end %>
  <div class="balloon_message <%= user %>">
    <div class="message_info">
      <div class="faceicon">
        <%= link_to profile_user_path(message.user), class: "faceicon_img" do %>
          <%= attachment_image_tag message.user, :icon_image, :fill, 50, 50, fallback: "no-icon.png", size:"50x50", class: "face_icon" %>
        <% end %>
      </div>
      <div class="says">
        <p class="message"><%= content %></p>
      </div>
    </div>
    <small>
      <%= "#{message.user.nickname}・" %>
      <%= message.created_at.strftime("%Y/%m/%d %H:%M") %>
    </small>
  </div>
</li>