<div id="message_detail_wrapper">
  <h1 id="room" data-room="<%= @room.id %>" data-user="<%= current_user.id %>"><%= @user.nickname %> さんとのチャット</h1>

  <ul class="list">
    <% @messages.each do |message| %>
      <%= render 'user/messages/chat', message: message %>
    <% end %>
  </ul>

  <%= form_with model: @message, data: {remote: true} do |f| %>
    <%= f.text_field :content %>
    <%= f.hidden_field :room_id %>
  <% end %>
</div>
