<div id="wrapper">
  <div class="inner">
    <div class="head_link">
      <span>
        <%= link_to messages_path, class: "btn btn__back" do %>
          <i class="fas fa-arrow-left"></i>
        <% end %>
      </span>
      <span>
        <h2>メッセージ</h2>
      </span>
    </div>
    <ul class="list">
      <% @messages.each do |message| %>
        <%= render 'user/messages/chat', message: message %>
      <% end %>
    </ul>
    <div class="comment_form_area">
      <%= form_with model: @message, data: {remote: true} do |f| %>
        <div class="comment_text_field">
          <%= f.text_field :content, class: "comment_text_input" %>
          <%= f.hidden_field :room_id %>
          <button type="submit" class="btn btn__send_message">
            <i class="fas fa-paper-plane"></i>
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>
