<% unless users.blank? %>
  <ul class="list">
    <% users.each do |user| %>
      <li class="item">
        <%= link_to profile_user_path(user) do %>
          <%= attachment_image_tag user, :icon_image, :fill, 130, 130, fallback: "no-icon.png", size:"130x130", class: "face_icon"  %>
          <%= user.nickname %>
          <%= user.introduction %>
        <% end %>
        <div class="follow_area">
          <%= render 'user/relationships/follow', user: user %>
        </div>
      </li>
    <% end %>
  </ul>
  <%= paginate users %>
  <%= render 'layouts/loader' %>
<% else %>
  <%= follow %>
<% end %>