<div id="wrapper">
  <div class="head_link">
    <h2 class="head_link__title">スケジュール</h2>
  </div>
  <div class="area area__user_calendar">
    <%= month_calendar events: @schedule do |date, recruits| %>
      <%= date.day %>
      <div class="event_area">
        <% unless recruits.blank? %>
          <% recruits.each do |recruit| %>
            <% if recruit.user == current_user %>
              <div class="my_schedule_area">
                <span>
                  <svg version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" xml:space="preserve">
                    <g>
                    	<path class="st0" d="M284.811,248.432c-14.806,10.36-32.797,16.458-52.194,16.458c-19.406,0-37.398-6.097-52.203-16.458
                    		c-25.887,11.109-41.796,30.661-51.5,47.922c-12.88,22.902-2.784,55.289,19.497,55.289c22.272,0,84.206,0,84.206,0
                    		s61.934,0,84.206,0c22.282,0,32.377-32.387,19.488-55.289C326.617,279.093,310.707,259.541,284.811,248.432z"></path>
                    	<path class="st0" d="M232.617,243.228c38.036,0,68.862-30.834,68.862-68.861v-16.495c0-38.036-30.826-68.862-68.862-68.862
                    		s-68.862,30.826-68.862,68.862v16.495C163.755,212.394,194.581,243.228,232.617,243.228z"></path>
                    	<path class="st0" d="M497.329,441.927l-75.836-73.882c65.265-90.806,57.141-218.443-24.454-300.037
                    		c-90.669-90.678-238.177-90.678-328.845,0c-90.678,90.668-90.678,238.195-0.009,328.862c81.613,81.605,209.25,89.72,300.074,24.427
                    		l73.855,75.826c15.645,18.886,38.748,20,56.602,2.137C516.598,481.423,516.205,457.563,497.329,441.927z M100.471,364.577
                    		c-72.969-72.978-72.969-191.304,0-264.265c72.978-72.978,191.295-72.978,264.274,0c72.97,72.97,72.979,191.287,0.009,264.273
                    		C291.785,437.545,173.449,437.545,100.471,364.577z"></path>
                    </g>
                  </svg>
                </span>
                <div class="schedule_content">
                  <p><%= "#{recruit.start_time.strftime("%H:%M")}～" %></p>
                  <p><%= link_to recruit.title, recruit_path(recruit), class: "schedule_link" %></p>
                </div>
              </div>
            <% else %>
              <div class="other_schedule_area">
                <span>
                  <svg version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" xml:space="preserve">
                    <g>
                    	<path class="st0" d="M369.087,233.711c1.892-8.37,4.999-21.14,7.864-36.066c3.668-19.233,7.008-42.288,7.008-66.006
                    		c-0.046-30.733-5.505-63.28-25.228-89.187c-9.865-12.918-23.32-23.788-40.466-31.145C301.15,3.932,280.539,0,255.996,0
                    		c-24.543-0.008-45.146,3.932-62.276,11.314c-25.789,11.01-42.951,30.056-52.722,51.687c-9.827,21.584-12.942,45.512-12.957,68.63
                    		c0,27.105,4.352,53.369,8.604,73.995c2.126,10.302,4.243,19.209,5.77,25.921l0.008,0.023c0.179,0.778,0.319,1.425,0.482,2.141
                    		c-22.83,6.914-39.454,28.016-39.47,53.119v42c0.008,15.527,12.576,28.094,28.094,28.102h4.095
                    		c0.818,14.974,4.205,38.917,15.363,71.129c3.691,10.52,5.521,18.252,6.245,23.126c-1.371-0.234-2.756-0.405-4.158-0.405
                    		c-8.222,0.032-14.958,4.189-19.178,9.406c-4.189,5.124-6.564,11.68-6.58,18.626c0,6.385,2.094,13.058,6.564,18.695
                    		c4.446,5.63,10.862,9.818,18.571,12.373l-0.506-0.172l0.49,0.172c4.181,1.401,8.496,2.118,12.793,2.118h0.039l0.459-0.016v-0.015
                    		c7.358-0.093,14.406-2.305,20.463-6.104c9.266-5.832,16.172-14.95,20.814-25.789c4.648-10.901,7.117-23.773,7.124-38.099
                    		c-0.007-4.983-0.304-10.146-0.927-15.48c-2.048-17.34-2.74-32.018-2.74-43.946c0-10.87,0.576-19.342,1.238-25.618h88.626
                    		c0.654,6.238,1.222,14.755,1.222,25.641c0,11.929-0.693,26.598-2.733,43.923c-0.623,5.326-0.926,10.504-0.926,15.496
                    		c0.023,19.085,4.36,35.638,12.513,48.284c4.103,6.33,9.242,11.71,15.424,15.588c5.895,3.706,12.731,5.855,19.887,6.042l0.366,0.085
                    		h0.701h0.07l0.234-0.008v-0.015c4.197-0.024,8.402-0.724,12.466-2.079c7.724-2.562,14.132-6.766,18.578-12.404l-0.016,0.015
                    		c4.462-5.614,6.572-12.24,6.572-18.571v-0.07v-0.046c-0.016-6.946-2.383-13.502-6.58-18.641c-4.213-5.202-10.948-9.359-19.17-9.391
                    		c-1.41,0-2.788,0.171-4.158,0.405c0.716-4.874,2.546-12.606,6.245-23.11c11.15-32.22,14.537-56.171,15.355-71.145h4.088
                    		c15.526-0.007,28.093-12.575,28.101-28.102v-42C408.549,261.727,391.925,240.625,369.087,233.711z M170.991,56.016
                    		c7.67-9.982,17.792-18.252,31.566-24.201c13.766-5.933,31.263-9.491,53.438-9.491c22.176,0,39.68,3.558,53.446,9.491
                    		c20.611,8.947,33.218,23.025,41.246,40.451c7.973,17.411,10.963,38.278,10.947,59.372c0.008,24.706-4.041,49.623-8.144,69.478
                    		c-2.048,9.936-4.104,18.602-5.677,25.454c-0.786,3.434-1.448,6.401-1.938,8.931c-0.14,0.779-0.242,1.426-0.358,2.111h-31.769
                    		c0.249-1.472,0.631-3.528,1.121-5.988c2.437-12.49,7.062-35.047,7.07-58.336c-0.046-18.251-2.733-37.251-12.661-52.605
                    		c-4.967-7.646-11.866-14.25-20.804-18.758c-8.932-4.524-19.747-6.946-32.478-6.938c-12.731-0.008-23.546,2.414-32.477,6.938
                    		c-13.455,6.774-22.09,18.221-26.965,30.882c-4.921,12.707-6.478,26.762-6.493,40.474c0,16.056,2.203,31.691,4.36,44.002
                    		c1.082,6.151,2.157,11.47,2.943,15.51c0.374,1.946,0.685,3.582,0.895,4.82h-31.777c-0.116-0.685-0.218-1.332-0.358-2.111
                    		c-1.705-8.736-5.614-23.6-9.142-42.062c-3.527-18.407-6.626-40.186-6.618-61.802C150.334,103.459,155.683,75.902,170.991,56.016z
                    		 M305.993,173.288c0,14.592-2.04,29.41-4.119,41.238c-1.043,5.918-2.086,11.096-2.888,15.214c-0.405,2.064-0.747,3.862-1.005,5.42
                    		c-0.14,0.888-0.249,1.666-0.335,2.453h-83.291c-0.086-0.786-0.196-1.565-0.335-2.453c-0.895-5.372-2.874-14.203-4.664-25.205
                    		c-1.791-10.956-3.356-23.904-3.348-36.674c-0.047-16.64,2.764-32.804,10.068-43.892c3.66-5.576,8.308-10.006,14.646-13.237
                    		c6.346-3.208,14.522-5.217,25.275-5.217c10.753,0,18.936,2.009,25.275,5.217c9.453,4.828,15.363,12.419,19.31,22.441
                    		C304.475,148.559,306.009,160.822,305.993,173.288z M182.865,478.144c-2.608,4.033-5.559,6.938-8.526,8.798
                    		c-2.99,1.853-5.957,2.718-9.11,2.734c-1.814-0.008-3.706-0.304-5.723-0.974c-4.415-1.479-6.789-3.379-8.113-5.046
                    		c-1.308-1.682-1.737-3.24-1.753-4.828c-0.015-1.744,0.678-3.488,1.534-4.516c0.903-1.051,1.565-1.214,1.9-1.206l0.272,0.023
                    		l0.031,0.008c0.413,0.069,1.892,0.498,3.683,0.934c1.822,0.429,4.049,0.896,6.704,0.903c1.745-0.007,3.707-0.21,5.778-0.95
                    		c3.115-1.044,6.292-3.652,7.997-7c1.76-3.349,2.39-7.086,2.406-11.337c-0.046-8.192-2.343-18.914-7.856-34.931
                    		c-12.038-34.774-14.195-58.437-14.366-70.203h32.213c-0.912,7.304-1.799,17.995-1.799,31.995c0,12.793,0.747,28.351,2.889,46.556
                    		c0.529,4.485,0.778,8.783,0.771,12.871C191.82,457.634,188.106,470.109,182.865,478.144z M354.947,474.072
                    		c1.783-0.435,3.27-0.864,3.683-0.934l0.046-0.008l0.25-0.023c0.343-0.008,1.004,0.148,1.9,1.206
                    		c0.864,1.028,1.557,2.764,1.534,4.516c-0.016,1.581-0.444,3.146-1.752,4.828c-1.316,1.666-3.691,3.566-8.106,5.046
                    		c-2.016,0.67-3.908,0.966-5.722,0.966c-3.154-0.008-6.12-0.872-9.11-2.726c-4.446-2.772-8.877-7.981-12.131-15.628
                    		c-3.263-7.622-5.334-17.589-5.326-29.324c0-4.088,0.25-8.394,0.779-12.878c2.141-18.198,2.881-33.74,2.881-46.54
                    		c0-14.008-0.888-24.707-1.799-32.018h32.213c-0.171,11.766-2.328,35.429-14.366,70.203c-5.512,16.017-7.818,26.739-7.856,34.931
                    		c0.007,2.85,0.296,5.426,1.004,7.849c0.996,3.605,3.248,6.984,6.315,8.954c3.052,1.993,6.284,2.484,8.861,2.484
                    		C350.898,474.968,353.125,474.5,354.947,474.072z M386.241,328.83c-0.008,3.178-2.593,5.77-5.777,5.778H131.537
                    		c-3.185-0.007-5.77-2.6-5.778-5.778v-42c0.008-9.219,3.714-17.488,9.741-23.53c6.05-6.027,14.311-9.733,23.523-9.741h193.945
                    		c9.212,0.008,17.481,3.714,23.523,9.741c6.035,6.05,9.741,14.311,9.749,23.53V328.83z"></path>
                      </g>
                    </svg>
                </span>
                <p><%= "#{recruit.start_time.strftime("%H:%M")}～" %></p>
                <p><%= link_to recruit.title, recruit_path(recruit), class: "schedule_link" %></p>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

