<div id="wrapper">
  <div class="head_link">
    <h2 class="head_link__title">プロフィール</h2>
  </div>
  <div class="user_profile_inner">
    <div class="profile_action_area">
      <%= attachment_image_tag @user, :icon_image, fallback: "/images/no-icon.png", class: "face_icon icon_lg" %>
      <% if @user != current_user %>
        <div class="user_action_btn">
          <%= render 'user/messages/message_btn', user: @user %>
          <%= render 'user/relationships/follow', user: @user %>
        </div>
      <% else %>
        <div class="profile_edit_btn_area">
          <%= link_to "プロフィール編集", profile_edit_user_path(current_user), class: "btn btn__profile_edit" %>
        </div>
      <% end %>
    </div>
    <p class="profile_name">
      <%= @user.nickname %>
      <% if @user.level < User::BRONZE_LEVEL %>
        <span class="profile_level regular_level"><i class="fas fa-medal"></i>Lv.<%= @user.level %></span>
      <% elsif @user.level >= User::BRONZE_LEVEL && @user.level < User::SILVER_LEVEL %>
        <span class="profile_level bronze_level"><i class="fas fa-medal"></i>Lv.<%= @user.level %></span>
      <% elsif @user.level >= User::SILVER_LEVEL && @user.level < User::GOLD_LEVEL %>
        <span class="profile_level silver_level"><i class="fas fa-medal"></i>Lv.<%= @user.level %></span>
      <% else %>
        <span class="profile_level gold_level"><i class="fas fa-medal"></i>Lv.<%= @user.level %></span>
      <% end %>
    </p>
    <p class="profile_intro"><%= @user.introduction %></p>
    <%= render 'user/relationships/follow_count', user: @user %>
  </div>
  <div class="area area__user_profile">
    <div class="user_recruit_list">
      <%= render 'user/recruits/list', recruits: @recruits %>
    </div>
  </div>
</div>
