<div id="wrapper">
  <div class="inner">
    <div class="head_link">
      <span>
        <%= link_to setting_path, class: "btn__back" do %>
          <i class="fas fa-arrow-left"></i>
        <% end %>
      </span>
      <span>
        <h2>設定</h2>
      </span>
    </div>
      <%= form_with model: @contact, url: send_mail_path, method: :post, local: true do |f| %>
        <div class="post_group">
          <div class="post_control">
            <div class="control">
              <%= f.label :subject, "タイトル", class: "post_title" %>
              <small class="badge_mandatory">必須</small>
            </div>
            <%= f.text_field :subject %>
          </div>
          <div class="post_control">
            <div class="control">
              <%= f.label:message, "お問い合わせ内容", class: "post_title" %>
              <small class="badge_mandatory">必須</small>
            </div>
            <%= f.text_area :message %>
          </div>
          <%= f.submit'送信', class: "btn" %>
        </div>
      <% end %>
  </div>
</div>