<div id="wrapper">
  <div class="head_link">
    <span>
      <%= link_to setting_path, class: "btn btn__back" do %>
        <i class="fas fa-arrow-left"></i>
      <% end %>
    </span>
    <span>
      <h2>問い合わせ</h2>
    </span>
  </div>
  <div class="area area__contact">
    <%= form_with model: @contact, url: send_mail_path, method: :post, local: true do |f| %>
      <div class="post_group">
        <div class="post_control">
          <div class="control">
            <%= f.label :subject, "タイトル", class: "post_title" %>
            <small class="badge_mandatory">必須</small>
          </div>
          <%= f.text_field :subject, maxlength: "100" %>
        </div>
        <div class="post_control">
          <div class="control">
            <%= f.label:message, "お問い合わせ内容", class: "post_title", maxlength: "1000" %>
            <small class="badge_mandatory">必須</small>
          </div>
          <%= f.text_area :message %>
        </div>
        <%= f.submit'送信', class: "btn" %>
      </div>
    <% end %>
  </div>
</div>