<ul class="list">
  <% reserves.each do |reserve| %>
    <% user = reserve.user %>
    <% status = reserve.reserve_status %>
    <li class="item">
      <%= link_to profile_user_path(user) do %>
        <%= attachment_image_tag user, :icon_image, fallback: "/images/no-icon.png", class: "face_icon icon_md"  %>
        <%= user.nickname %>
      <% end %>
      <% if ((@recruit.recruit_status != "end_recruit")\
          && (@recruit.recruit_status != "reminded_recruit")\
          && (@recruit.recruit_status != "expired_recruit")) %>
        <div class="reserve_judge_area">
          <% case status
               when "approve_reserve" %>
              <%= render 'user/reserves/confirm_btn', reserve: reserve, recruit: recruit, approve_active: "active", reject_active: "no_active" %>
            <% when "reject_reserve" %>
              <%= render 'user/reserves/confirm_btn', reserve: reserve, recruit: recruit, approve_active: "no_active", reject_active: "active" %>
            <% else %>
              <%= render 'user/reserves/confirm_btn', reserve: reserve, recruit: recruit, approve_active: "no_active", reject_active: "no_active" %>
          <% end %>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>
