<div class="recruit_detail_table">
  <% if @recruit.user == current_user %>
    <div class="recruit_detail_head">
      <div class="ellipsis_h" ><i class="fas fa-ellipsis-h"></i></div>
      <%= render 'user/recruits/change', recruit: recruit %>
    </div>
  <% end %>
  <table>
    <tbody>
      <tr>
        <th>
          <div>
            <span>
              <svg version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" xml:space="preserve">
                <g>
                	<path class="st0" d="M438.41,404.336c-12.321-18.452-31.032-28.649-48.621-35.278c-8.81-3.315-17.434-5.766-25.027-7.84
                		c-7.58-2.066-14.175-3.81-18.605-5.475c-7.749-2.875-15.934-6.606-21.645-10.62c-2.851-1.987-5.051-4.037-6.324-5.781
                		c-1.288-1.791-1.638-3.024-1.654-4.101c0-7.454,0-16.763,0-29.025c9.914-11.037,24.155-28.13,30.008-55.23
                		c2.042-0.92,4.065-1.964,6.013-3.315c4.85-3.346,8.963-8.209,12.451-14.815c3.503-6.638,6.614-15.122,9.929-26.724
                		c1.68-5.875,2.454-10.99,2.454-15.538c0.008-5.248-1.072-9.804-3.052-13.495c-0.447-0.84-1.002-1.508-1.512-2.239
                		c1.807-3.676,6.661-16.103,6.661-43.707c0-33.934-14.242-100.068-55.938-111.89C292.506,10.447,250.177,0,202.484,0
                		c-47.694,0-55.938,33.015-50.435,55.945c-29.01,24.037-16.076,93.015-11.288,116.895c-1.136,1.248-2.219,2.616-3.091,4.258
                		c-1.98,3.692-3.068,8.248-3.06,13.495c0.008,4.548,0.782,9.662,2.463,15.538c4.434,15.459,8.44,25.435,13.624,32.757
                		c2.593,3.636,5.546,6.559,8.755,8.782c1.948,1.351,3.97,2.395,6.013,3.315c5.852,27.1,20.094,44.194,30.007,55.23
                		c0,12.262,0,21.571,0,29.025c0,0.92-0.365,2.239-1.787,4.124c-2.085,2.804-6.405,6.206-11.539,9.088
                		c-5.118,2.906-11.002,5.428-16.154,7.243c-6.049,2.144-15.793,4.375-26.708,7.51c-16.406,4.744-35.801,11.578-51.578,25.106
                		c-7.875,6.763-14.796,15.262-19.654,25.82c-4.871,10.558-7.663,23.094-7.656,37.768c0,3.41,0.15,6.929,0.46,10.566
                		c0.22,2.553,1.194,4.627,2.332,6.332c2.172,3.197,5.051,5.561,8.657,7.997c6.319,4.187,15.07,8.272,26.276,12.278
                		c33.542,11.964,89.071,22.914,157.884,22.93c55.902,0,103.093-7.258,136.772-16.37c16.85-4.564,30.302-9.568,40.027-14.564
                		c4.866-2.522,8.806-5.004,11.928-7.73c1.563-1.374,2.934-2.82,4.085-4.54c1.135-1.705,2.113-3.778,2.334-6.332
                		c0.306-3.636,0.451-7.148,0.451-10.534C451.63,432.363,446.607,416.598,438.41,404.336z M123.763,481.113
                		c-0.177-0.047-0.386-0.094-0.562-0.142c-16.088-4.352-28.743-9.135-37.046-13.417c-4.132-2.12-7.18-4.148-8.865-5.632
                		c-0.722-0.628-1.127-1.108-1.332-1.382c-0.236-2.993-0.369-5.892-0.369-8.642c0.028-17.046,4.195-29.496,10.632-39.26
                		c9.21-13.951,23.758-22.686,39.131-28.75c0.66,3.165,1.273,6.708,1.771,10.675c1.143,8.939,1.823,19.694,1.823,31.414
                		C128.947,443.18,127.356,462.425,123.763,481.113z M256.006,444.076l-78.361-76.613c6.06-2.506,12.4-5.68,17.997-9.56
                		c3.838-2.687,7.348-5.687,10.141-9.356c2.757-3.614,4.874-8.138,4.874-13.307c0-8.059,0-18.122,0-31.932v-2.914l-1.948-2.176
                		c-10.358-11.532-24.383-26.842-29.245-54.06l-0.77-4.352l-4.152-1.485c-2.643-0.943-4.658-1.909-6.418-3.126
                		c-2.596-1.838-4.953-4.336-7.702-9.458c-2.718-5.098-5.597-12.717-8.747-23.77c-1.383-4.831-1.874-8.586-1.874-11.375
                		c0.008-3.237,0.628-5.138,1.26-6.331c0.959-1.736,2.133-2.474,3.622-3.072c1.449-0.558,3.036-0.636,3.229-0.62l3.196,0.165
                		c8.963,7.887,15.699,21.948,15.699,21.948s-2.753-6.426-2.753-30.267c0-23.84,15.593-55.946,15.593-55.946
                		s-9.097-23.354-8.268-31.397c0.322-0.518,0.726-0.998,1.064-1.5c21.052,35.678,80.477,42.144,93.411,38.404
                		c41.268-11.932,56.864,9.175,56.864,9.175s9.167,56.857,9.167,76.118c1.025-9.725,10.326-18.295,18.35-23.982
                		c0.244,0.298,0.479,0.573,0.699,0.974c0.64,1.194,1.257,3.094,1.268,6.331c0,2.789-0.491,6.544-1.874,11.375
                		c-4.187,14.752-7.946,23.33-11.39,28.09c-1.724,2.404-3.303,3.912-5.055,5.138c-1.764,1.218-3.778,2.184-6.422,3.126l-4.16,1.485
                		l-0.762,4.352c-4.862,27.218-18.888,42.528-29.245,54.06l-1.948,2.176v2.914c0,13.81,0,23.873,0,31.932
                		c-0.012,5.012,1.936,9.506,4.599,13.103c4.046,5.42,9.654,9.434,15.766,12.938c4.092,2.326,8.429,4.281,12.741,6.088
                		L256.006,444.076z M436.041,460.516l-0.656,0.778c-1.12,1.131-3.378,2.836-6.552,4.643c-8.161,4.705-22.159,10.195-40.592,15.168
                		c-3.594-18.687-5.189-37.933-5.181-55.128c-0.008-11.72,0.676-22.474,1.823-31.414c0.483-3.872,1.084-7.337,1.724-10.447
                		c9.992,3.935,19.729,9.002,27.753,15.892c6.477,5.537,11.897,12.199,15.785,20.581c3.881,8.382,6.264,18.562,6.264,31.342
                		C436.411,454.656,436.277,457.539,436.041,460.516z" style="fill: rgb(0, 0, 0);"></path>
                	<polygon class="st0" points="221.286,353.103 221.286,396.26 256.254,380.636 291.221,396.26 291.221,353.103 256.254,368.727 	" style="fill: rgb(0, 0, 0);"></polygon>
                </g>
                </svg>
            </span>
            <p>GM</p>
          </div>
        </th>
        <td>
          <%= link_to profile_user_path(recruit.user) do %>
            <%= attachment_image_tag recruit.user, :icon_image, fallback: "no-icon.png", class: "face_icon icon_md"  %>
            <%= recruit.user.nickname %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>
          <div>
            <span><i class="far fa-comment-alt"></i></span>
            <p>タイトル</p>
          </div>
        </th>
        <td><%= recruit.title %></td>
      </tr>
      <tr>
        <th>
          <div>
            <span><i class="far fa-calendar-alt"></i></span>
            <p>日時</p>
          </div>
        </th>
        <td><%= "#{recruit.start_time.strftime("%Y/%m/%d %H:%M")}～" %></td>
      </tr>
      <tr>
        <th>
          <div>
            <span><i class="far fa-clock"></i></span>
            <p>所要時間</p>
          </div>
        </th>
        <td><%= "#{recruit.time_required}時間" %></td>
      </tr>
      <tr>
        <th>
          <div>
            <span><i class="fas fa-users"></i></span>
            <p>定員</p>
          </div>
        </th>
        <td><%= "#{recruit.capacity}名" %></td>
      </tr>
      <tr>
        <th>
          <div>
            <span><i class="fas fa-gamepad"></i></span>
            <p>プレイ形態</p>
          </div>
        </th>
        <td>
          <ul>
            <% form_list.each do |form| %>
              <li class="tag"><%= form.name %></li>
            <% end %>
          </ul>
        </td>
      </tr>
      <tr>
        <th>
          <div>
            <span><i class="fas fa-list-ul"></i></span>
            <p>参加条件</p>
          </div>
        </th>
        <td>
          <ul>
            <% entry_list.each do |entry| %>
              <li class="tag"><%= entry.name %></li>
            <% end %>
          </ul>
        </td>
      </tr>
      <tr>
        <th>
          <div>
            <span><i class="fas fa-book-reader"></i></span>
            <p>説明</p>
          </div>
        </th>
        <td class="prewrap"><%= recruit.explanation %></td>
      </tr>
    </tbody>
  </table>
  <div class="recruit_img">
    <%= attachment_image_tag recruit, :image %>
  </div>
</div>
