<% unless recruits.blank? %>
  <ul class="list">
    <% recruits.each do |recruit| %>
      <li class="item item__recruit">
        <%= link_to recruit_path(recruit), class: "recruit_detail_link" do %>
          <div class="recruit_head">
            <%= remain_count(recruit) %>
            <div class="recruit_date">
              <%= calc_start_time(recruit.start_time, recruit.time_required) %>
            </div>
          </div>
          <% if recruit.image != nil %>
            <div class="recruit_content" style="background-image: url(<%= Refile.attachment_url(recruit, :image) %>)">
          <% else %>
            <div class="recruit_content" style="background-image: url(/images/bg-top-img.png)">
          <% end %>
            <div class="recruit_content__wrapper">
              <div class="recruit_poster">
                <%= attachment_image_tag recruit.user, :icon_image, fallback: "/images/no-icon.png", class: "face_icon icon_lr"  %></p>
                <%= recruit.user.nickname %>
              </div>
              <div class="recruit_content__inner">
                <div class="recruit_title">
                  <p><%= recruit.title %></p>
                </div>
                <div class="recruit_play_form">
                  <div>
                    <span><i class="fas fa-gamepad"></i></span>
                    <p>プレイ形態</p>
                  </div>
                  <% recruit.play_forms.each do |form| %>
                    <small class="tag"><%= form.name %></small>
                  <% end %>
                </div>
                <div class="recruit_condition">
                  <div>
                    <span><i class="fas fa-list-ul"></i></span>
                    <p>参加条件</p>
                  </div>
                  <% recruit.entry_conditions.each do |form| %>
                    <small class="tag"><%= form.name %></small>
                  <% end %>
                </div>
                <div class="recruit_explanation">
                  <p><%= recruit.explanation %></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
  <%= paginate recruits %>
<%= render 'layouts/loader' %>
<% else %>
  <p>新しい投稿はありません</p>
<% end %>