<% unless recruits.blank? %>
  <ul class="list">
    <% recruits.each do |recruit| %>
      <li class="item item__recruit">
        <%= link_to recruit_path(recruit), class: "recruit_detail_link" do %>
          <p class="recruit_title">
            <%= recruit.title %>
          </p>
          <div class="recruit_content">
            <div class="recruit_status_area">
              <%= render 'user/recruits/status', recruit: recruit %>
            </div>
            <div class="user_post_info_area">
              <div class="profile_area">
                <dt>GM</dt>
                <dd>
                  <%= attachment_image_tag recruit.user, :icon_image, fallback: "no-icon.png", class: "face_icon icon_sm"  %></p>
                  <%= recruit.user.nickname %>
                </dd>
              </div>
              <div class="recruit_area">
                <dl>
                  <dt>募集日時</dt>
                  <dd><%= recruit.start_time.strftime("%m月%d日 %H:%M～") %></dd>
                </dl>
                <dl>
                  <dt>所要時間</dt>
                  <dd><%= "#{recruit.time_required}時間" %></dd>
                </dl>
                <dl>
                  <dt>定員</dt>
                  <dd><%= "#{recruit.capacity}人" %></dd>
                </dl>
                <p>< プレイ形態 ></p>
                <% recruit.entry_conditions.each do |form| %>
                  <small class="tag"><%= form.name %></small>
                <% end %>
                <p>< 参加条件 ></p>
                <% recruit.play_forms.each do |form| %>
                  <small class="tag"><%= form.name %></small>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
  <%= paginate recruits %>
<%= render 'layouts/loader' %>
<% else %>
  <p>新しい投稿はありません</p>
<% end %>