<div id="wrapper">
  <div class="head_link">
    <h2 class="head_link__title"><%= @recruit.title %></h2>
    <% if @recruit.user == current_user %>
      <%= render 'user/reserves/waiting', recruit: @recruit %>
    <% else %>
      <div class="reserve_btn_area">
        <%= render 'user/reserves/reserve_btn', recruit: @recruit %>
      </div>
    <% end %>
  </div>
  <div class="area area__recruit_detail">
    <div class="recruit_detail_inner">
      <%= render 'user/recruits/detail', recruit: @recruit, form_list: @form_list, entry_list: @entry_list %>
    </div>
    <div class="recruit_comment_list">
      <%= render 'user/recruit_comments/list', recruit: @recruit, recruit_comments: @recruit_comments %>
    </div>
  </div>
  <div class="comment_form_area">
    <%= form_with model:[@recruit, @recruit_comment] do |f| %>
      <div class="comment_text_field">
        <%= f.text_field :comment, class: "comment_text_input", maxlength: "500" %>
          <button type="submit" class="btn btn__send_message">
            <i class="fas fa-paper-plane"></i>
          </button>
      </div>
    <% end %>
  </div>
</div>