<!DOCTYPE html>
<html>
  <head>
    <title>IRORI</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="icon" href="/images/favicon.png" />
  </head>
  <body>
    <% if user_signed_in? %>
      <div id="container">
        <div id="cover"></div>
        <div id="mask" class="hidden"></div>
        <aside id="side_area">
          <%= render 'layouts/sidemenu' %>
        </aside>
        <main id="main_area">
          <%= render 'layouts/mobile' %>
          <%= yield %>
          <aside id="right_side_area">
            <%= render 'layouts/right_side' %>
          </aside>
        </main>
      </div>
      <%= render 'layouts/footer' %>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
